<div class="row mt-5">
    <div class="col-lg-6 offset-lg-3">
        <h2 class="text-center">Ingrese presupuesto</h2>
        <div class="card mt-5">
            <div class="card-body">
                <div *ngIf="cantidadIncorrecta" class="text-center">
                    <span class="badge bg-danger mt-3">El presupuesto debe ser mayor a cero.</span>
                </div>
                
                <input type="number" [(ngModel)]="cantidad" class="form-control form-control-lg mt-3 text-error" placeholder="Ingrese su presupuesto...">
                <button class="btn btn-secondary btn-lg btn-block mt-2" (click)="agregar()">Aceptar</button>
            </div>
        </div>
    </div>
</div>
